body {background-color: rgb(216, 112, 147) #0ccaa1; text-align: justify;font-size: x18px;}
h1{text-align: center;background-color: #ee7777;color: rgb(214, 108, 144);}
h3{text-align: justify;color: rgb(27, 37, 27);}
b{color: rgb(120, 212, 155);font-size: 18px;}
i {color: rgb(3, 2, 2);font-size: 18px;}
header,footer {background-color: rgb(216, 102, 102);color: rgb(219, 186, 141);text-align: center;font-size: 20px;}
main {background-color: rgb(3, 2, 0);}
